:root {
    --bg-color: #333333;
    --light-color: #999999;
    --lighter-color: #CCCCCC;
    --lightest-color: #EEEEEE;
}

html {
    max-width: 100vw;
}

body {
    background-color: var(--bg-color)!important;
    color: var(--lightest-color)!important;
}

header {
    height: fit-content;
}

header h1 {
    color: black;
}

main h1 {
    color: var(--light-color)!important;
}


.list-group-item {
    background-color: rgba(200, 200, 200, 0.75)!important;
    border-radius: 10px!important;
    cursor: pointer;
}

.list-group-item:hover {
    box-shadow: inset 0 0 0 0.1em var(--bg-color);
}

.content-wrap {
    padding-bottom: 65px;
}

.customCard {
    position: relative;
    background-color: var(--light-color)!important;
}

.cardImage {
    border-radius: 5px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .7s ease;
    backface-visibility: hidden;
}

.cardInfo {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    color: black;
}

.customCard:hover .cardImage {
    opacity: 0.2;
}

.customCard:hover .cardInfo {
    opacity: 1;
}

.react-pdf__Page__canvas {
    margin: 15px auto;
    max-width: 612px;
    width: 95%!important;
}

.react-pdf__Page__annotations {
    height: 0;
}

.react-pdf__Page__textContent span {
    white-space: nowrap!important;
}

.react-pdf__Page__textContent {
    width: 100%!important;
    position: fixed!important;
}

footer {
    height: 65px;
    margin-bottom: 10px;
}