footer {
    height: 65px;
}

.content-wrap {
    padding-bottom: 65px;
}

.customCard {
    position: relative;
}

.cardImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cardInfo {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.customCard:hover .cardImage {
    opacity: 0.3;
}
  
.customCard:hover .cardInfo {
    opacity: 1;
}