:root {
    --bg-color: #222222;
    --light-color: #999999;
    --lighter-color: #CCCCCC;
    --lightest-color: #EEEEEE;
}

html {
    max-width: 100vw;
}

body {
    background-color: var(--bg-color)!important;
    color: var(--lightest-color)!important;
    font-family: 'Courier New', monospace!important; 
}

.avatar {
    width: fit-content;
}

header {
    height: fit-content;
    box-shadow: 0px -10px 10px 1px rgba(0, 0, 0, 0.6) inset;
}

header h1 {
    color: black;
    font-weight:600;
}

main h1 {
    color: var(--light-color)!important;
    font-weight:600;
}


.list-group-item {
    background-color: rgba(200, 200, 200, 0.75)!important;
    border-radius: 10px!important;
    cursor: pointer;
}

.list-group-item:hover {
    box-shadow: inset 0 0 0 0.1em var(--bg-color);
}

.content-wrap {
    padding-bottom: 80px;
}

.customCard {
    position: relative;
    background-color: var(--light-color)!important;
}

.cardImage {
    border-radius: 5px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .7s ease;
    backface-visibility: hidden;
}

.cardInfo {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    color: black;
}

.customCard:hover .cardImage {
    opacity: 0.2;
}

.customCard:hover .cardInfo {
    opacity: 1;
}

.react-pdf__Page__canvas {
    margin: 15px auto;
    max-width: 612px;
    width: 95%!important;
}

.react-pdf__Page__annotations {
    height: 0;
}

.react-pdf__Page__textContent span {
    white-space: nowrap!important;
}

.react-pdf__Page__textContent {
    width: 100%!important;
    position: fixed!important;
}

footer {
    height: 80px;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.6) inset;
}

.wrapper {
    display: inline-flex;
}
  
.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 12px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-align: center;
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .stack:hover,
.wrapper .stack:hover .tooltip,
.wrapper .stack:hover .tooltip::before {
    background-color: #f47f24;
    color: #ffffff;
}

.nav-btn {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.nav-btn:hover {
    color: var(--lightest-color);
}

.nav-btn::after {
    content: "";
    background: #111111;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    transition: all 0.45s;  
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}

.nav-btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.45s;
}

.icon-logo:hover {
    fill: var(--lightest-color);
}